<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="UserInfoServiceSoapSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:5114/UserInfoServiceSoap.asmx"
                binding="basicHttpBinding" bindingConfiguration="UserInfoServiceSoapSoap"
                contract="OAService.UserInfoServiceSoapSoap" name="UserInfoServiceSoapSoap" />
        </client>
    </system.serviceModel>
</configuration>